 <h2> Add to your nice list </h2>

 <%= form_for @person do |f| %>
    <%= f.label "Name" %>
    <%= f.text_field :name %><br><br>
    <%= f.label "Relationship" %>
    <%= f.text_field :relationship %><br><br>
   
    <%= f.submit "Submit" %>
<% end %>