<%= form_for @gift do |f| %>

  <% if @gift.person_id.nil? %>
    <h4>Who is this gift for?</h4>
    <%= f.collection_select(:person_id, current_user.people, :id, :name, prompt: "Choose a person or create a new person below") %>
    <br><br>
    <div>
    <%= f.fields_for :person, @gift.build_person do |p| %>
      <%= p.label :name %>
      <%= p.text_field :name %>
      <%= p.label :relationship %>
      <%= p.text_field :relationship %>
    <% end %>
    </div>
  <% else %>
    <%= f.hidden_field :person_id  %>
  <%end%>
<br><br>

  <%= f.label :gift_name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :gift_cost %>
  <%= f.text_field :cost %><br><br>
  <%= f.label :notes %>
  <%= f.text_field :notes %><br><br>

  <%= f.submit "Add Gift" %>
<% end %>