<div class='background'>
  <div class="transbox">
    <h3> Present for: <%= @gift.person.name %><br></h3>
    <ul>
      <h4><%= @gift.name %><h4><br>
      Cost $<%= @gift.cost %><br>
      Notes: <%= @gift.notes %><br>
    </ul>
    <br>
    <%= link_to "Edit", edit_person_gift_path(@gift.person, @gift) %><br>
    <%= link_to "Delete Gift", @gift, method: :delete, data: { confirm: 'Are you sure?' }%><br>
  </div>
</div>