<nav>
  <ul>
  <h1>Santas Workshop</h1>
    <%= link_to '<button type="button">Home</button>'.html_safe, root_path %>
    
    <% if !user_signed_in? %> 
      <%= link_to '<button type="button">Signup</button>'.html_safe, new_user_registration_path %>
      <%= link_to '<button type="button">Login</button>'.html_safe, new_user_session_path %>
    <% else %>
      <%= link_to '<button type="button">Logout</button>'.html_safe, destroy_user_session_path, method: "delete" %>
      <%= link_to '<button type="button">Profiel</button>'.html_safe, people_path %>
      <%= link_to 'Create New Person', new_person_path %>
      Welcome <%= current_user.username %>
    <% end %>
    </ul>
</nav>
