<!DOCTYPE html>

<html>
  <head>
    <title >Santa's Workshop</title>

    <style>
      html { 
        background: url("https://cdn.pixabay.com/photo/2017/10/26/19/45/christmas-2892235__480.png") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      h1 {
        color: #e6ffff;
        font-size: 4em;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }

      
    </style>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav'%> 
    <%= yield %>
  </body>
</html>

